$h1-font-family:'Arvo', serif;
$h2-font-family:'PT Sans', sans-serif;

$font-family-main:'Arvo', serif;
$font-family-second:'PT Sans', sans-serif;

$background-main:#fafafa;
$background-disabled:#beb8b8;
$background-hover:#beb8b8;
$background-second:#fff;
$background-white:#fff;
$background-black:#000;
$background-mint:#00b7a5;
$background-green:#1E8449;
$background-delete:#900C3F;

$border-color-main:#beb8b8;
$border-color-mint:#00b7a5;
$border-color-white:#fff;

$text-black:#000;
$text-white:#fff;
$text-grey:#707B7C;
$text-green:#1E8449;
$text-mint:#00b7a5;

$color-mint:#00b7a5;
$color-green:#1E8449;
$color-error:#df1c1c;
$color-delete:#900C3F;