@import '../../static/styles/Variables.scss';
@import '../../static/styles/Extend.scss';
@import '../../static/styles/Mixins.scss';

.popUp_back {
  background-color: $background-disabled;
  opacity: 0.4;
  min-width: 100%;
  min-height: 100vh;
  z-index: 100;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popUp_wraper {
  min-width: 100%;
  z-index: 200;
  position: absolute;
  top: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popUp_block {
  background-color: $background-main;
  border: 1px solid $border-color-main;
  border-radius: 15px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.popUp_text {
  padding: 30px;
  color:$text-black;
  font-family:$font-family-second;
  text-align: center;
  font-size:16px;
}

.popUp_button {
  background-color: $color-mint;
  border-radius: 5px;
  border: none;
  margin: 0px 20px 20px;
  padding: 10px 15px;
  color:$text-white;
  font-family:$font-family-second;
  text-align: center;
  font-size:14px;
  transition: 0.3s;

  &:hover {
    background-color: $color-green;
    transition: 0.3s;
    cursor: pointer;
  }
}

.slideDown{
  animation-name: pullDown;
  -webkit-animation-name: pullDown;

  animation-duration: 1.1s;
  -webkit-animation-duration: 1.1s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
}

@keyframes pullDown {
  0% {
      transform: scaleY(0.1);
  }
  40% {
      transform: scaleY(1.02);
  }
  60% {
      transform: scaleY(0.98);
  }
  80% {
      transform: scaleY(1.01);
  }
  100% {
      transform: scaleY(0.98);
  }
  80% {
      transform: scaleY(1.01);
  }
  100% {
      transform: scaleY(1);
  }
}

@-webkit-keyframes pullDown {
  0% {
      -webkit-transform: scaleY(0.1);
  }
  40% {
      -webkit-transform: scaleY(1.02);
  }
  60% {
      -webkit-transform: scaleY(0.98);
  }
  80% {
      -webkit-transform: scaleY(1.01);
  }
  100% {
      -webkit-transform: scaleY(0.98);
  }
  80% {
      -webkit-transform: scaleY(1.01);
  }
  100% {
      -webkit-transform: scaleY(1);
  }
}
