@import '../../static/styles/Variables.scss';
@import '../../static/styles/Extend.scss';
@import '../../static/styles/Mixins.scss';

.navigation-nav {
  width: 100%;
  max-width: 1140px;
  margin: 0px auto;
  border-bottom: 2px solid $border-color-mint;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-family: $font-family-main;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color:$text-mint;
    margin: 0px 15px;
  }

}

.navigation-list {
  list-style: none;
  margin-right: 15px;
  display: flex;
  justify-content:right;
  align-items: center;

  li {
    margin: 10px;
    font-family: $font-family-second;
    font-size: 16px;
    font-weight: 400;
    color:$text-black;
    transition: 0.3s;

    &:hover {
      text-decoration: none;
      cursor: pointer;
      color: $color-green;
      transition: 0.3s;
    }
    
  }

}