@import '../../static/styles/Variables.scss';
@import '../../static/styles/Extend.scss';
@import '../../static/styles/Mixins.scss';

.tasks__section{
  max-width:1140px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tasks__wraper{
  max-width: 540px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tasks-list{
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 3px;
}

.list-empty {
  @include message-empty;
}