$h1-font-family:'Arvo', serif;
$h2-font-family:'PT Sans', sans-serif;
$font-family-main:'Arvo', serif;
$font-family-second:'PT Sans', sans-serif;
$background-main:#fafafa;
$background-second:#fff;
$background-white:#fff;
$background-black:#000;
$border-color-main:#beb8b8;
$text-black:#000;
$text-white:#fff;
$color-mint:#00b7a5;
$color-green:#1E8449;
$color-error:#df1c1c;