@import '../../static/styles/Variables.scss';
@import '../../static/styles/Extend.scss';
@import '../../static/styles/Mixins.scss';

.users{
  max-width:1140px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.users-wraper {
  max-width: 720px;
  width: 100%;
}

.users-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left:0px;
}

.list-empty {
  @include message-empty;
}